body{
    margin:0;
    padding: 0;
    overflow-y: hidden;
}

.navbar{
    position:fixed;
    width:100vw;
}
.nav-menu  {
    display: flex;
    margin-top: 0px;
    padding: 10px;
    margin-left:0%;
    background-image: linear-gradient(white,rgb(205, 33, 235));
    width:100%;
    border-right:3px dashed black;
    
   
    
}
.nav-menu a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(247, 249, 246);
    border: 3px solid black;
    margin-left:0%;
    position: relative;
    padding: 5px;
    background-color: rgb(231, 195, 165);
    background-image: linear-gradient(rgb(248, 248, 241), rgb(4, 4, 0),rgb(14, 182, 191));
    box-shadow: 0 0 0 1px white;
    width:max-content;
    margin-bottom: 10px;
    margin-top:10px;
    border-radius:10px;
    margin-left:10px;
    
    
}
.nav-menu a:hover{
    box-shadow: 2px 0 0 5px rgb(234, 192, 7);
}

.change-menu{
    height: 100vh;
   
}
 
.change-menu .section{
    height: 100vh;
    padding-top:30%;
    margin-left:-100px;

}
#home{
    background-image: linear-gradient(rgb(0, 225, 255), rgb(14, 14, 5)); 
   
    
}
#about{
    background-image: linear-gradient(rgb(122, 241, 146), rgb(57, 4, 50));
     
}
#service{
    background-image: linear-gradient(rgb(215, 150, 190), rgb(236, 253, 127));
   
   
}#contact{
    background-image: linear-gradient(rgb(14, 14, 239), rgb(178, 216, 237));
   
   
}#info{
    background-image: linear-gradient(rgb(72, 5, 2), rgb(246, 164, 164)); 
    
   
  
}